# -------------Main/settings---------------------
SECRET_KEY = ''
DEBUG = True


#DataBase
# -------------Main/settings/DataBase---------------------

POSTGRES_NAME='test'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD=''
HOST='postgres'
# HOST='localhost'
PORT='5432'



# -------------Main/settings/CELERY---------------------

#localhost
# LOCATION="redis://127.0.0.1:6379/1""
# CELERY_BROKER_URL="redis://127.0.0.1:6379/0" #Celery Broker
# CELERY_RESULT_BACKEND = "redis://127.0.0.1:6379/2" #Celery Results

#docker
LOCATION="redis://redis:6379/1"
CELERY_BROKER_URL="redis://redis:6379/0"#docker compose 
CELERY_RESULT_BACKEND = "redis://redis:6379/2" #docker compose 

FLOWER_USERNAME="admin"
FLOWER_PASSWORD="admin"